{% extends "main/layout.html" %}
{% block content %}
 

    <div class="container">
      <h1 class="text-center text-dark mb-3">Our Dishes</h1>
      <div class="row">
        {% for item in menu_items %}
            <div class="col-sm-4">
                <div class="card mb-3" style="height: fit-content; overflow: auto;">
                  <img src="{{ item.image.url }}" style="height: 250px;">
                    <div class="card-body text-center">      
                      <button class="btn btn-warning">By:{{ item.created_by }}</button>         
                      <h5 class="text-center"><a href="{% url 'main:dishes' item.slug %}">{{ item.title }} </a><span class="badge badge-{{ item.label_colour }}">{{ item.labels }}</span></h5>
                      <p class="text-center">{{ item.description }}</p>
                      <h5 class="text-center">P{{ item.price }}</h5>
                      <a href="{% url 'main:dishes' item.slug %}" class="btn btn-success">View Details</a>
                    </div>
                </div>
            </div>            
        {% endfor %}
      </div>
    </div>
{% endblock content %}